body{
    background-color: maroon;
    font-family: 'Open Sans', sans-serif;
}

.first{
    width: 600px;
    padding: 75px;
    background-color: #ffffff;
    margin: auto;
    border-radius: 25px;
}

.second{
    background-color: rgb(235, 235, 235);
    border: 1px solid gray;
    padding: 10px 50px;
}

img{
    width: 600px;
}

h1{
    font-family: 'Maven Pro', sans-serif;
    color: #808000;
}

h2{
    font-family: 'Maven Pro', sans-serif;
    color: maroon;
}

h3{
    font-family: 'Maven Pro', sans-serif;
    color: maroon;
}

p{
    letter-spacing: 0.3px;
}

.ca{
    font-variant: small-caps;
    border: 1px solid black;
}

.calc{
    font-size: 18px;
    font-variant: small-caps;
    background-color: #808000
}

.question{
    color: maroon;
}